*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    background-image: linear-gradient(to right, yellow, red);
}

h1{
    flex: 1;
    margin: 12px;
}

#button{
    border: 2px solid black;
    border-radius: 12px;
    padding:12px;
    text-align: center;
    color: white;
    font-size: 24px;
    width: 10%;
    margin: 12px;
    margin-right: 10%;
}

#button:hover{
    translate: 12px;
    cursor:pointer;
    background-color: green;
}

#card{
    border: 2px solid red;
    padding: 12px;
    width: 80%;
    margin: 24px auto;
    border-radius: 12px;
    background-color: black;
    color: white;
    text-align: center;
}

.change{
    background-color: green;
    width:auto;
    margin: 10px auto;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 768px){
    #card{
        width: 80%;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    #button{
        width: 30%;
    }

}